@import url('vars.css');

*{
  margin: 0;
  padding: 0;
}
.container *{
  padding: 5px;
}
header{
  position: sticky;
  background-color: var(--bg-main-color);
  top: 0;
  border-bottom: var(--border-main-color);
}
header nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
header h1{
  text-align: center;
  font-family: var(--font-fam-sec);
  background-color: var(--h-bg-main-color);
  color: var(--h-bg-sec-color);
}
.container h2{
  background-color: var(--h-bg-main-color);
  color: var(--h-bg-sec-color);
}
.container p{
  font-size: clamp(1rem, 1.2rem, 1.5rem);
}
header nav p{
  font-family: var(--font-fam-sec);
}
.container *{
  font-family: var(--font-fam-main);
  background-color: var(--font-main-color);
  color: var(--font-sec-color);
}
footer{
  border-top: var(--border-main-color);
  text-align: center;
  background-color: var(--h-bg-main-color);
  color: var(--h-bg-sec-color);
}
footer nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  justify-content: space-around;
}
nav .column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.courses{
  padding: 5px;
  margin: 5px;
  border: var(--border-sec-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.current, .passed{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.course{
  padding: 5px;
  margin: 2px;
  border: var(--border-sec-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.course:nth-of-type(even){
  flex-direction: row-reverse;
}
.posts{
  padding: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.post{
  width: 23%;
  margin: 10px;
  padding: 5px;
  border: var(--border-sec-color);
}
.post:nth-child(3n +2){
  flex-grow: 1;
}
.records-list{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.records{
  display: flex;
  flex-direction: column-reverse;
}
.pin-records{
  flex-basis: 30%;
}
.record{
  border: var(--border-sec-color);
  margin: 2px;
  padding: 4px;
}
.info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.min-max {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

.min-max .min {
  width: calmp(200px,50vw,50vw);
  height: 200px;
  border: var(--border-main-color);
}

.min-max .max {
  width: calmp(70vw,70vw,700px);
  height: 200px;
  border: var(--border-main-color);
}