.pure-table {
    border-collapse:collapse;
    border-spacing:0;
    border:1px solid black !important;
}
.pure-table td,.pure-table th {
     border: 1px solid #cbcbcb;
     margin:0;
}
.pure-table thead tr{
    background-color: #e0e0e0 !important;
    color: #000;
}
.pure-table tr{
    background-color: white;
}
.pure-table tr:nth-child(2n){
    background-color: cadetblue;
}
.pure-table tr:hover{
  background-color: violet;
}
.nav{
  background-color: white;
  position: sticky;
  height: 40px;
  width: 100%;
  top: 0px;
  border-bottom: 1px solid black;
}
.pure-menu-heading{
    color: #308d46;
}
#tb{
  background-color: LemonChiffon;
  padding: 10px;
}
#frm{
  background-color: LemonChiffon;
  padding: 10px;
}
#frm *{
  margin: 10px;
}
.pure-input-1-2{
  overflow: auto;
}
.button-error{
  background-color: red;
  color: white;
}
label input[type='file']{
  display: none;
}
label span{
  background-color: wheat;
  padding: 5px;
}
label span:hover{
  background-color: palegreen;
}
.warning{
  background: #ffc107;
  text-align: center;
  padding: 10px;
}
