@font-face {
    font-family: 'ArialNarrow' Bold;
    src: url(ArialNarrowBold.ttf);
}
@font-face {
    font-family: 'AGAalenBold' Roman;
    src: url(AGAalenBoldRoman.ttf);
}
:root{
    --font-main-color: khaki;
    --font-sec-color: chocolate;
    --h-bg-main-color: chocolate;
    --h-bg-sec-color: khaki;
    --bg-main-color: rgb(186, 216, 243);
    --bg-sec-color: rgb(228, 248, 157);
    --border-main-color: 1px solid black;
    --border-sec-color: 2px solid aqua;
    --font-fam-main: 'ArialNarrow';
    --font-fam-sec: 'AGAalenBold';
}